@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Josefin Sans Variable", sans-serif;
  @apply text-white bg-gray-950; /* overflow-hidden; */
  background-image: url("/svgs/pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  @apply text-5xl mt-4 mb-2 font-bold;
}
h2 {
  @apply text-3xl mt-3 font-semibold;
}
h3 {
  @apply text-2xl mt-3 font-semibold;
}
h4 {
  @apply text-xl font-medium;
}

hr {
  @apply border-gray-600;
}

input,
textarea {
  @apply rounded-md py-2 px-3 bg-gray-900 text-white;
}
:is(input, textarea):focus {
  @apply outline-none ring-2 ring-blue-700;
}
:is(button, .btn) {
  @apply rounded-md py-2 px-3 bg-blue-700 text-white;
}
:is(button, .btn):hover {
  @apply bg-blue-800;
}
:is(button, .btn).secondary {
  @apply bg-gray-700;
}
:is(button, .btn).secondary:hover {
  @apply bg-gray-600;
}
.all-center {
  @apply flex justify-center items-center;
}

.tag {
  @apply rounded-2xl bg-gray-700 px-3 py-0.5 inline-block;
}

.project {
  @apply cursor-pointer flex-col flex rounded-md gap-1
    border py-3 px-4 border-gray-700;
}
.project > p {
  @apply text-gray-500;
}

a.link {
  @apply text-blue-400 underline;
}
.info-card {
  animation: 1s forwards enter;
}
@keyframes enter {
  from {
    opacity: 0;
    translate: 0 -110px;
  }
  to {
    opacity: 1;
    translate: 0 -60px;
  }
}

.have-spans span {
  @apply rounded-md px-3 py-1 bg-white text-black absolute;
}
.curve-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-image: url("/svgs/curved-line.svg");
}
.overlay {
  @apply fixed top-0 left-0 h-screen w-screen backdrop-blur-sm flex flex-col items-center justify-center;
}
li:has(a.active) {
  @apply bg-orange-300/15 text-orange-300;
}
